body{
background-image:url(71939548.jpg);
padding-left: 11%;
padding-right: 10%;
font-family:serif;
}
label{
color:#CCCCCC;
font-style: oblique;
font-size: 15pt;
}
.header{	
font-weight: 600;
font-size: 15pt;
background:black;
padding:20px;
text-align: center;
height:130px;
width:100%;
}
.colortext{
color: #CCCCCC;

}
nav div:hover {
background-image: linear-gradient(to top left,#333333,#FFFFFF);
color: #000000;
height: 30px;
display: block;
float: left;
}
.photocard {
margin: 15px 15px 0 15px; /* Отступы вокруг картинки */
float:right;
color:black;
width: 33%;
box-shadow: 0 0 15px; /* тень */
}
p{
color:#CCCCCC;
font-style: oblique;
font-size: 15pt;
}
.photocard1{
margin: 15px 15px 0 15px; /* Отступы вокруг картинки */
float:right;
color:black;
width: 45%;
box-shadow: 0 0 15px; /* тень */
}

.content{
padding: 2%;
background: #333333;
float:left;
width:96%;
}

.footer{
padding-top:10px;
background-image: linear-gradient(to top left,#333333,#CCCC99);
height:50px;
float:left;
width:97%;
font-size: 10pt;
padding-left:3%;
}
a{
text-decoration: none;
color:black;
}
.link1{	
padding-top:5px;
background-image: linear-gradient(to top left,#333333,#CCCC99);
height:30px;
width:25%;
float:left;
text-align: center;
}
.link2{
padding-top:5px;
background-image: linear-gradient(to top left,#333333,#CCCC99);
height:30px;
width:25%;
float:left;
text-align: center;
}
.link3{
padding-top:5px;
background-image: linear-gradient(to top left,#333333,#CCCC99);
float:left;
height:30px;
width:25%;
text-align: center;
}
.link4{
padding-top:5px;
background-image: linear-gradient(to top left,#333333,#CCCC99);
float:left;
height:30px;
width:25%;
text-align: center;
}